@model FinalProRere.ViewModels.MultipleTicketsModel

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Tracker</title>
</head>
@Styles.Render("~/Content/css")
 
<!--MANAGER ONLY HOMEPAGE-->

<body class="mainbody">

    <!--HEADER-->
    <div id="heading">
        <a href="/home/employeeindex">Home</a> <a target="_blank" href="https://docs.google.com/document/d/1eh-c7nNmuU6CRv5ZS2dTp5LpFqJEkoIwypHCYVvm_4I/edit?usp=sharing">Contact Me</a> <a target="_blank" href="https://gallaghercareer.github.io/portfolio-2025">Portfolio</a>  @Html.Partial("_LoginPartial")
    </div>
    <div id="tablediv">
        <!--HERO ADD TICKET BUTTON-->
        <div id="buttonadd" style="margin-bottom: 20px;">
            <a id="buttonlink" style="border:thin;" class="btn" href='@Url.Action("AddTicketForm", "Home")'> Add Ticket</a>
        </div>

        <!--TABLE-->
        <table id="tickets" class="stripe table table-bordered table-hover" border="1">
            <thead>
                <tr>
                    <th>Ticket ID</th>
                    <th>AssignedTo</th>
                    <th>Date Created</th>
                    <th>Resolved</th>


                </tr>
            </thead>
        </table>
    </div>

</body>




</html>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<!--JQUERY DATATABLES-->
<script>
    $(document).ready(function () {



    window.addEventListener('load', loadData());



    function loadData() {
        const xhr = new XMLHttpRequest();

        xhr.open('GET', '/api/tickets');

        xhr.onload = function () {

            var ticket = JSON.parse(this.response);

            $('#tickets').DataTable({
                data: ticket,
                paging: false,
                "columns": [
                    {
                        "data": "id",

                        "render": function (data, type, ticket) {

                            var myUrl = '@Url.Action("Viewticket", "Home")?ticketid='+data;
                            return '<a href=\"' + myUrl + '\">'+data+'</a>';
                        }
                    },
                    {
                        "data": "applicationUser.userName",

                    },
                    {
                        "data": "date",

                    },
                    {
                        "data": "resolved",

                    }



                ]
            });
        }

        xhr.send();
    };


    });
</script>
